.navbar{
 background-color: rgba(0,0,255,0.0);
}
body{
background: url(../img/paisaje.jpg);
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
width: 90%;
height: 100%;
margin: auto;
}



.contenido{
  margin-top: 100px;

}
.redes-sociales {
  text-align: center;
}

.img-social {
  margin: 1px;
  width: 50px;
  height: 50px;
}
#img-a{
  width: 100%;
}

#img-b{
  margin: 20px;
}
#img-c{
  margin-top: 20px;
  width: 150px;

}
p{
margin-top: 0px;
margin-left: 5px;
}
